<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
</head>
<body>
    <h1>URL Shortener</h1>
    <% if(locals.id) { %>
        <span>URL Generated :  <a href="http://localhost/<%= id %>" target="_blank">http://localhost/<%= id %></a></span>
        <br>
        <br>
    <% } %>
    
    <form action="/shorten" method="POST">
        <label for="url">Original URL:</label>
        <input type="text" id="originalUrl" name="url" required placeholder="https://www.google.com">
        <button type="submit">Shorten</button>
    </form>
</body>
</html>
