<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" href="./views/favicon.png" type="image/x-icon">
        <link rel="stylesheet" href="./views/styles.css">
        <title>URL Shortener</title>
    </head>
    <body>
        <nav class="navbar">
            <div>
                <h3>
                    URL <br />
                    SHORTENER
                </h3>
            </div>
            <div>
                <ul class="menu-section">
                    <li><a href="./index.html">HOME</a></li>
                    <li><a href="https://github.com/Its-Vipin">GITHUB</a></li>
                    <li><a href="https://github.com/Its-Vipin">CONTACT</a></li>
                </ul>
            </div>
            <a data-popup-target="#popup" href="#" id="play-btn">Lemme PLAY</a>
            <!-- <button data-popup-target="#popup" id="play-btn">Lemme PLAY</button> -->
        </nav>

        <div class="popup" id="popup">
            <div class="popup-header">
                <div class="title">Hehe 😆</div>
                <button data-close-button class="close-button">&times;</button>
            </div>
            <div class="popup-body">
                Nothing is here. Just a popup.
            </div>
        </div>
        <div id="overlay"></div>

        <!-- Section1  -->
        <div class="section1">
            <div class="url-gen-div">
                <% if(locals.id) { %>
                <div>URL Generated :</div>
                <a href="https://url-shortner-dpzq.onrender.com/u/<%= id %>" target="_blank">https://url-shortner-dpzq.onrender.com/u/<%= id %></a>
            </div>
            <br />
            <br />
            <% } %>

            <form class="input-url" action="/shorten" method="POST">
                <div>
                    <label for="url">Enter your URL :</label><br />
                    <input type="text" id="originalUrl" name="url" required placeholder="https://hecking.com" />
                </div>

                <div id="submit-btn">
                    <button type="submit">Magic</button>
                </div>
            </form>
            <div class="ignore-txt">
                <span id="ignore-txt1">git</span>
                <span id="ignore-txt2">ignore</span>
                <div id="">like everyone ignores u!</div>
            </div>
        </div>

        <script src="./views/script.js"></script>
    </body>
</html>
